.main
  .messages
    - @posts.each do |post|
      .messages__box
        .messages__box__text
          = post.text
        %ul.messages__box__info
          %li
            = post.user.nickname
          %li
            = post.created_at.strftime("%Y/%m/%d %H:%M")

  .form
    -if current_user
      =form_with model:@post, id: "new-post" do |f|
        .form__message
          = f.text_area :text, placeholder: "文字を入力（25文字以内）" , rows: "3", class: "form__message__input"
          = f.submit "投稿する", class: "form__message__btn"
    - else
      .form__logout
        ※メッセージの投稿にはログインが必要です※
      
  .footer Homework App 2020